
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-ebony: #150f1d;
  --color-blue: #2000f5;
  --color-orange: #ff5b05;
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #150f1d; /* Fallback */
  color: #fff;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.02em;
}

.font-logo {
  font-family: 'Outfit', sans-serif;
}
